/***** GRID ******/

.full-width {
    max-width: 2000px;
}

.half-width {
    max-width: 1000px;
    float: left;
}

.third-width {
    max-width: 665px;
    float: left;  
}

.fourth-width {
	max-width: 500px;
	float: left;
}

.video-full-width {
	width: 400px;
	margin: 0 auto;
}

/****Header****/

header {
	height: 978px;
	background: url('../img/marz-profile.jpg');
	background-size: cover;
	margin: 0 auto;
}

header h1 {
    font-size: 140px;
    color: red;
    margin: 0 auto;
    padding-top: 793px;
    padding-left: 1380px;
}


/*****Videos****/

#mainvideo {
	margin: 40px 0 40px 575px;	
}

#subvideo {
	margin: 0 auto;
	height: 200px;
}

#video2 {
    margin: 5px 85px 5px 85px;
}

#video3 {
    margin: 5px 85px 5px 85px;
}

#video4 {
    margin: 5px 85px 5px 85px;
}

#video5 {
    margin: 5px 85px 5px 85px;
}

#video6 {
    margin: 5px 85px 5px 85px;
}

/****Social Media*****/

#social-media1 {
	background-color: black;
	height: 40px;
	border-color: red;
}

#social-media2 {
	background-color: white;
	border-color: red;
	border-width: 100px;
	height: 550px;
}

#social-media1 h1 {
    color: red;
    text-align: center;
}

/***About***/

#about1 {
	background-color: black;
	color: red;
	height: 40px;
	text-align: center;
}

#about2 {
	height: 100px;
}

#about2 p {
	font-size: 50px;
}

/***Fan Club***/

#fanclub1 {
	background-color: black;
	color: red;
	height: 40px;
	text-align: center;
}

#fanclub2 {
	height: 100px;
}

#fanclub2 p {
	font-size: 50px;
}
