/***** GRID ******/

.full-width {
    max-width: 1800px;
}

.half-width {
    max-width: 900px;
    float: left;
}

.third-width {
    max-width: 600px;
    float: left;  
}

.fourth-width {
	max-width: 4500px;
	float: left;
}

.video-full-width {
	width: 400px;
	margin: 0 auto;
}

/****Header****/

header {
	max-width: 1800px;
	height: 721px;
	background-color: black;
	margin: 0 auto;
}

header h1 {
    font-size: 140px;
    color: white;
    margin: 0 auto;
}


/*****Videos****/

#mainvideo {
	margin: 0 auto;
	width: 800px;
}

#subvideo {
	margin: 0 auto;
	height: 200px;
}

#video2 {
    
}

/****Social Media*****/
#social-media {
	background-color: black;
	height: 600px
}


#social-media h1 {
    color: white;
}

